@font-face {
    font-family: "TitBlack";
    src: url("../ttf/TitilliumWeb-Black.ttf");
}

@font-face {
    font-family: "TitBold";
    src: url("../ttf/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "TitBoldItalic";
    src: url("../ttf/TitilliumWeb-BoldItalic.ttf");
}

@font-face {
    font-family: "TitExtraLight";
    src: url("../ttf/TitilliumWeb-ExtraLight.ttf");
}

@font-face {
    font-family: "TitExtraLightItalic";
    src: url("../ttf/TitilliumWeb-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "TitItalic";
    src: url("../ttf/TitilliumWeb-Italic.ttf");
}

@font-face {
    font-family: "TitLight";
    src: url("../ttf/TitilliumWeb-Light.ttf");
}

@font-face {
    font-family: "TitLightItalic";
    src: url("../ttf/TitilliumWeb-LightItalic.ttf");
}

@font-face {
    font-family: "TitRegular";
    src: url("../ttf/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: "TitSemiBold";
    src: url("../ttf/TitilliumWeb-SemiBold.ttf");
}

@font-face {
    font-family: "TitSemiBoldItalic";
    src: url("../ttf/TitilliumWeb-SemiBoldItalic.ttf");
}
