#toolbar {
    border-bottom: solid 1px #EAEAEA;
}

.toolbar-button {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.toolbar-button-icon {
    height: 16px;
    width: 16px;
    margin: 8px;
}

.toolbar-button:hover {
    opacity: 0.5;
}
